<h2>Register</h2>
<form (ngSubmit)="register()">
  <label>Name:</label>
  <input [(ngModel)]="user.name" name="name" required />
  <br />
  <label>Email:</label>
  <input [(ngModel)]="user.email" name="email" type="email" required />
  <br />
  <label>Password:</label>
  <input [(ngModel)]="user.password" name="password" type="password" required />
  <br />
  <label>Address:</label>
  <input [(ngModel)]="user.address" name="address" />
  <br />
  <button type="submit">Register</button>
</form>
<p *ngIf="successMessage">{{ successMessage }}</p>
<p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>