<mat-card>
  <h2>Create an Account</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" placeholder="Username" formControlName="username" required/>
    </div>
    <div>
      <input type="text" placeholder="Email" formControlName="email" required/>
    </div>
    <div>
      <input type="password" placeholder="Password" formControlName="password" required/>
    </div>
    <div>
      <input type="text" placeholder="Address" formControlName="address" required/>
    </div>
    <div>
      <button type="submit">Sign Up</button>
    </div>
  </form>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  <mat-hint *ngIf="successMessage">{{ successMessage }}</mat-hint>
</mat-card>