<mat-toolbar color="primary">
  <span>IT Webshop</span>
  <span class="spacer"></span>
  <ng-container *ngIf="loggedInUser; else guestLinks">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/order">
      <mat-icon>shopping_cart</mat-icon> Kosár
    </button>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
  <ng-template #guestLinks>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/login">Login</button>
  </ng-template>
</mat-toolbar>