<mat-toolbar color="primary">
  <span>IT Webshop</span>
  <span class="spacer"></span>
  <ng-container *ngIf="loggedInUser; else guestLinks">
    <div class="desktop-links">
      <button mat-button routerLink="/">Home</button>
      <div *ngIf="isAdminUser">
        <button mat-button routerLink="/admin">Admin</button>
      </div>
      <button mat-button routerLink="/order">
        <mat-icon>shopping_cart</mat-icon> Cart
      </button>
      <button mat-button routerLink="/profile">
        <mat-icon>person</mat-icon> Profile
      </button>
      <button mat-button (click)="logout()">Logout</button>
    </div>
    <div class="mobile-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/order">
          <mat-icon>shopping_cart</mat-icon> Cart
        </button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </ng-container>
  <ng-template #guestLinks>
    <div class="desktop-links">
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/register">Register</button>
      <button mat-button routerLink="/login">Login</button>
    </div>
    <div class="mobile-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/register">Register</button>
        <button mat-menu-item routerLink="/login">Login</button>
      </mat-menu>
    </div>
  </ng-template>
</mat-toolbar>