<h2>Products</h2>

<app-category-filter
  [categories]="categories"
  (categorySelected)="onCategorySelected($event)">
</app-category-filter>

<div class="filter-options">
  <button appTextTransform (click)="filterProducts('inStock')">In Stock</button>
  <button appTextTransform (click)="filterProducts('lowPrice')">Low Price</button>
  <button appTextTransform (click)="filterProducts('highPrice')">High Price</button>
  <button appTextTransform (click)="filterProducts('')">Reset</button>
</div>

<button (click)="showTop5Expensive()">Top 5 most expensive</button>
<button (click)="filterByPriceRange(1000, 5000)">1000-5000 USD</button>
<button (click)="showCheapestInStock()">10 Cheapest In Stock</button>
<button (click)="resetFilters()">Reset</button>

<div class="product-list">
  <div class="product-card" *ngFor="let product of filteredProducts" appHighlight="lightyellow">
    <img [src]="product.imageUrl" alt="Sajnos nem sikerült megoldani a képfeltöltést:(" />
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p class="price">{{ product.price | priceFormat }}</p>
      <p>Category: {{ product.category.name }}</p>
      <p>{{ product.stock | stockStatus }}</p>
      <p>{{ product.description }}</p>
    </div>
    <div class="product-actions">
      <button (click)="addToOrder(product)">Add to Order</button>
    </div>
  </div>
</div>