<h2>Edit Profile</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="displayName" />
  </label>
  <br>
  <label>
    Email:
    <input type="email" formControlName="email" />
  </label>
  <br>
  <label>
    New Password:
    <input type="password" formControlName="password" />
  </label>
  <br>
  <button type="submit" [disabled]="profileForm.invalid">Save</button>
</form>
<div *ngIf="message" [ngStyle]="{ color: message.includes('success') ? 'green' : 'red' }">
  {{ message }}
</div>